.container-tab {
	padding-top: 20px;
	padding-bottom: 18px;
	padding-left: 70px;
	padding-right: 70px;
}

.tab-content {
	/*border-right: 3px solid #337ab7;
	border-left: 3px solid #337ab7;
	border-bottom: 3px solid #337ab7;*/
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.btn-group-center {
	text-align: center;
}

footer {
	min-height: 100px;
}

#error_display {
	margin-top: 20px;
}

.modal-header, .modal-footer {
	padding: 7px;
}

.table-padding {
	padding: 30px;
}
